<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Navbar</title>
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="minigame.html">Mini-Spiele</a>
        <a href="about.html">Über Uns</a>
        <a href="login.html">Login</a>
        <a href="register.html">Registrieren</a>
        <select id="language-selector" onchange="changeLanguage(this.value)">
            <option value="de">Deutsch (Beta)</option>
            <option value="en">English (Beta)</option>
        </select>
    </nav>
    <script src="../assets/js/scripts.js"></script>
</body>
</html>