<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Navbar</title>
</head>
<body>
    <nav>
        <a href="index_en.html">Home</a>
        <a href="about_en.html">About Us</a>
        <a href="minigame_en.html">Mini-Games</a>
        <select id="language-selector">
            <option value="de">Deutsch</option>
            <option value="en">English</option>
        </select>
    </nav>
    <script src="../assets/js/scripts.js"></script>
</body>
</html>